@model List<CONCURSO_INTERNO_PERSONAL.Models.Prueba>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prueba_index</title>
    <link rel="stylesheet" href="/css/estilos_prueba_index.css">
  
</head>




<body>
    <div class="contenedor_principal">
        <div class="contenedor_prueba-conocimiento">
            <div class="prueba_conocimiento-formulario">
               

                <div class="prueba_textArea">
                    <span class="previsualizacion">Previsualizacion</span>
                    <div class="text-area">
                        <h5>Preguntas generadas:</h5>
                        <div class="text_area-preguntas">


                            @foreach (var item in Model)
                            {

                                <p class="pregunta"><strong> <span> @item.IdPregunta ) </span>@item.oPregunta.Enunciado</strong></p>
                                <ul class="opciones">
                                    <li class="opcion"> <span>a) </span>@item.oPregunta.OpcionA</li>
                                    <li class="opcion"> <span>b) </span>@item.oPregunta.OpcionB</li>
                                    <li class="opcion"> <span>c) </span>@item.oPregunta.OpcionC</li>
                                    <li class="opcion"> <span>d) </span>@item.oPregunta.OpcionD</li>
                                </ul>

                            }


                        </div>



                    </div>
                   
                </div>
                <div class="botones">
                    <a class="btn-pdf" asp-action="Pregunta_detalle"> Generar Pregunta</a>
                    <a class="btn-pdf" asp-action="MostrarPDFenPagina" target="_blank"> Descargar pdf</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
