@model List<CONCURSO_INTERNO_PERSONAL.Models.Prueba>
@{
    Layout = null;
    int _i = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaParaPDF</title>
    <style>

        * {
            font-family: 'Roboto', sans-serif;
        }

        img {
            width: 150px;
            height: 70px;
        }

        h1 {
            text-align: center;
            margin-bottom: 100px;
        }

        li {
            margin-left: 1px;
            font-size: 18px;
        }
    </style>
</head>
<body>

    
    <div class="container">
            <img src="~/imgCU/logo.png" />
            <h1>PRUEBA DE CONOCIMIENTO</h1>
        @foreach (var item in Model)
        {
            _i++;
            <div>
                <p>
                    <span style="font-size:20px;font-weight:bold;"> Pregunta @_i: </span>
                    <span style="font-size:20px;">@item.oPregunta.Enunciado</span>
                    <span> (puntaje: @item.Puntaje pto)</span>
                </p>
                <ol type="a" style="list-style-type:'a)'">
                        <li>@item.oPregunta.OpcionA</li>
                        <li>@item.oPregunta.OpcionB</li>
                        <li>@item.oPregunta.OpcionC</li>
                        <li>@item.oPregunta.OpcionD</li>
                    </ol>
                </div>
         



        }
    </div>
    


</body>
</html>
