@model List<CONCURSO_INTERNO_PERSONAL.Models.Personal>
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        img {
            width: 150px;
            height: 70px;
            margin-bottom: 100px;
        }

        * {
            font-family: 'Roboto', sans-serif;
        }
        .container div{
            margin-left: 150px;
        }
    </style>
</head>

<body>
    @foreach (var item in Model)
    {
        <div class="">
            <img src="~/imgCU/logo.png" />
            <h1 class="text-center">Contratacion de Personal</h1>
            <div class=" p-5">
                <h3>
                    Conste por el presente contrato de trabajo, que celebran de una parte del contrato al Sr.(a) <b>@item.NombapePers</b>
                    con su documento nacional de identidad <b>@item.Dni</b>. Será denominado como el nuevo <b>@item.oPuesto.NomPuesto</b>,
                    el cuál deberá aceptar los siguientes términos y condiciones al firmar este contrato.
                </h3>
                <h3>
                    EL Empleador requiere la contratación de personal capacitado como <b>@item.oPuesto.NomPuesto</b> para
                    la elaboración del contrato de Personal, La fecha de inicio será comunicada a su dirección de correo personal,
                    asegurando así una transición sin contratiempos y un comienzo efectivo en esta entidad.
                </h3>
                <h3>
                    Se deberá pagar al trabajador de <b>@item.oPuesto.NomPuesto</b> un sueldo con la cantidad de S/.<b>@item.oPuesto.Sueldo</b>
                    el cuál será entregado mensualmente cada 18 del mes correspondido.
                    El compromiso del nuestro nuevo empleado es clave para el éxito de esta empresa.
                    Trabajará según el cronograma establecido de la empresa, garantizando así que cumplamos con nuestros plazos
                    y objetivos de manera eficiente y efectiva.
                </h3>
                <br>
            </div>
            <br><br>
            <div class="container">
                <div class="border-top border-dark w-25 text-center pt-2">
                    <span>@item.NombapePers</span>
                    <br>
                    <span>Nuevo @item.oPuesto.NomPuesto</span>
                </div>
            </div>
        </div>
    }




</body>


</html>
